@charset "UTF-8";
/* CSS Document */
body, h1, h3, h2, h4, h5, h6, p, dl, dd, ul, li, ol, td, form, input, fieldset, legend {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 12px;
}

body {
  font-size: 14px;
  font-family: "微软雅黑";
  color: #666;
  background: #fff;
}

img {
  border: none;
}

a, input {
  outline: none;
}

em, i {
  font-style: normal;
}

b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

table {
  border-collapse: collapse;
}

/* 头部 topDiv */
#topDiv {
  height: 100px;
  background: white;
}

.topCon {
  width: 1200px;
  height: 79px;
  margin: 0 auto;
  padding-top: 18px;
}

.topCon > img {
  display: block;
  float: left;
  width: 123px;
  height: 50px;
}

.topCon > p {
  float: left;
  width: 117px;
  height: 47px;
  color: #333;
  border-left: 1px solid #efefef;
  padding-left: 20px;
  font: 24px/47px "microsoft yahei";
}

#conDiv {
  background-image: url("../img/login/bg.jpeg");
  background-position: top center;
  height: 560px;
}

#conDiv > div {
  margin: 0 auto;
  width: 1200px;
  height: 560px;
  position: relative;
}

#conDiv > div > div {
  width: 400px;
  height: 450px;
  position: absolute;
  background: white;
  top: 60px;
  left: 760px;
}

#conDiv > div > div > ul {
  overflow: hidden;
  width: 400px;
  height: 27px;
  padding: 10px 0;
  border: 1px solid #dedede;
}

#conDiv > div > div > ul > li:nth-child(1) {
  float: left;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #333;
  width: 197px;
  height: 27px;
  border-right: 1px solid #dedede;
}

#conDiv > div > div > ul > li:nth-child(2) {
  float: left;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #333;
  width: 197px;
  height: 27px;
}

#conDiv > div > div > div:nth-child(2) {
  border: 1px solid #dedede;
  width: 338px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: left;
  color: #333;
  margin: 10px 36px;
  border: none;
  margin: 5px 36px;
}

#conDiv > div > div > div:nth-child(2) > label {
  display: inline-block;
  width: 60px;
  height: 40px;
}

#conDiv > div > div > div:nth-child(2) > input {
  display: inline-block;
  border: none;
  width: 150px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  color: #333;
  padding: 9px 0 0;
}

#conDiv > div > div > div:nth-child(2) > span {
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  color: #333;
}

#conDiv > div > div > div:nth-child(3) {
  border: 1px solid #dedede;
  width: 338px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: left;
  color: #333;
  margin: 10px 36px;
}

#conDiv > div > div > div:nth-child(3) > label {
  display: inline-block;
  width: 60px;
  height: 40px;
}

#conDiv > div > div > div:nth-child(3) > input {
  display: inline-block;
  border: none;
  width: 150px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  color: #333;
  padding: 9px 0 0;
}

#conDiv > div > div > div:nth-child(3) > span {
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  color: #333;
}

#conDiv > div > div > div:nth-child(4) {
  border: 1px solid #dedede;
  width: 338px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  text-align: left;
  color: #333;
  margin: 10px 36px;
}

#conDiv > div > div > div:nth-child(4) > label {
  display: inline-block;
  width: 60px;
  height: 40px;
}

#conDiv > div > div > div:nth-child(4) > input {
  display: inline-block;
  border: none;
  width: 150px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  text-align: left;
  color: #333;
  padding: 9px 0 0;
}

#conDiv > div > div > div:nth-child(4) > span {
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  color: #333;
}

#conDiv > div > div > div:nth-child(5) {
  width: 340px;
  height: 53px;
  position: relative;
  margin: 0 auto;
  padding: 24px 0 0;
}

#conDiv > div > div > div:nth-child(5) > a {
  display: block;
  float: right;
}

#conDiv > div > div > div:nth-child(6) {
  height: 163px;
  position: relative;
}

#conDiv > div > div > div:nth-child(6) > div:nth-child(1) {
  width: 80px;
  height: 21px;
  position: absolute;
  background: white;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
  color: #333;
  top: 93px;
  left: 160px;
  padding: 1px;
  z-index: 2;
}

#conDiv > div > div > div:nth-child(6) > div:nth-child(2) {
  width: 400px;
  height: 60px;
  position: absolute;
  border-top: 1px dashed #dedede;
  top: 104px;
  margin-left: 10px;
}

#conDiv > div > div > div:nth-child(6) > div:nth-child(2) > a:nth-child(1) {
  display: inline-block;
  width: 90px;
  height: 60px;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  color: #333;
}

#conDiv > div > div > div:nth-child(6) > div:nth-child(2) > a:nth-child(2) {
  display: inline-block;
  width: 90px;
  height: 60px;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  color: #333;
}

#conDiv > div > div > div:nth-child(6) > div:nth-child(2) > a:nth-child(3) {
  display: inline-block;
  width: 90px;
  height: 60px;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  color: #333;
}

#conDiv > div > div > div:nth-child(6) > div:nth-child(2) > a:nth-child(4) {
  display: inline-block;
  width: 90px;
  height: 60px;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  color: #333;
}

#conDiv > div > div > div:nth-child(6) > div:nth-child(3) {
  width: 300px;
  height: 45px;
  position: relative;
  background: orange;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
  color: #333;
  margin: 0 auto;
}

#conDiv > div > div > div:nth-child(6) > div:nth-child(4) {
  margin: 0 auto;
  width: 340px;
  height: 60px;
}

#conDiv > div > div > div:nth-child(6) > div:nth-child(4) > a:nth-child(1) {
  display: block;
  float: left;
  margin-left: 10px;
  width: 100px;
  height: 60px;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  color: #333;
}

#conDiv > div > div > div:nth-child(6) > div:nth-child(4) > a:nth-child(2) {
  display: right;
  float: right;
  margin-right: 10px;
  width: 100px;
  height: 60px;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  color: #333;
}

#lastSer5 {
  width: 1000px;
  margin: 10px auto 10px;
  position: relative;
}

#lastSer5 > p {
  text-align: center;
  font-size: 12px;
  color: #777;
  line-height: 1.9;
}

.lastSet_P a {
  text-align: center;
  font-size: 12px;
  color: #777;
  margin: 0 5px;
  cursor: pointer;
  line-height: 1.9;
}

.lastSer5_div {
  width: 525px;
  height: 40px;
  margin: 0 auto;
}
